/* CSS files add styling rules to your content */



h1 {
  font-family: 'Rubik Mono One', sans-serif;
  color: #373fff;
  font-size: 50px;
}

.btn{
  display:inline;
  justify-content:space-around;
  border-color:azure;
  background-color: azure;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
} 
h2{
  font-size:30px;
  align-items:center;
  color: black;
}
.mission{
  background-color: #031D44;
  background-size: 600px 600px;
  color: white;
}
body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color:#FFFFF0;
}

.topnav {
  margin-left: 200px;
  overflow: hidden;
  
}

.topnav a {
  float: left;
  color: #373fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-family: 'Oswald', sans-serif;
}

.topnav a.active {
  background-color: #ddd
  color: #373fff;
}
#joeBiden{
  background-color: #ff3333;
  color: white;
  width: 1200px; 
}

.list {
  list-style-type: none;
}

#elizabethwarren {
  background-color: white;
  border: 4px solid blue;
  width: 1200px;
}

#kamalaHarris {
  background-color: #031D44;
  color: white;
  width: 1200px;
}

#peteBooty {
  background-color: #ff3333;
  color: white;
  width: 1200px;
}

#beto {
  background-color: white;
  border: 4px solid red;
  width: 1200px;
}

#castro {
  background-color: #031D44;
  color: white;
  width: 1200px;
}

.mission{
display:inline-block;
  height:450px;
  width: 770px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 0px;
  transform: translate(20px, 50px);
  margin-left:0px;
/*   position:relative;
   */
}

img#vote {
  height:450px;
  width:500px;
/*   position: relative;  */
  transform: translate(650px, -400px);
  margin-left:230px
}
#activism{
  padding-top:0px;
  height: 600px;
  width: 100%;
/*   transform: translate(0px, -350px); */
  position: relative;
  transform: translate(0, -400px);
/*   top: 500px; */
}
.classBrk{
  padding-top:0px;

}
.issues{
  display:inline;
    
/*    transform: translate(200px, 350px); */
    position: relative;
}
img#health, img#immigration, img#loans{
  width:500px;
  height:300px;
/*   positon: relative;  */
  transform: translate(0px, -420px);
  float: left;
  width: 33.33%
}
/* maybe resize some of the stuff first so it all fits on the page idk and also we need an about section too so maybe in between the blue and the
bottom photo? */
#para{
  margin-left:
}

.topics {
  transform: translate(0px, -410px);
/*   position: relative;  */
  background-color: #ff3333;
  background-size: 700px 600px;
  color: white;
  width: 1400px;
}

footer {
transform: translate(0px, -380px);
  position: relative; 
  border: 4px black;
}
#titleM{
  color: white; 
  font-size: 50px;
}
#para{
font-size: 25px;
}
#gra{
  font-size: 20px;
}

#misheal {
  color: white;
}
.aboutUs{
    transform: translate(0px, -420px);
}
#aTitle{
  font-size: 60px; 
}

#scarymisheal {
  width: 550px;
  height: 400px;
}
#immigration{
/*   display:inline-block;
  height:450px;
  width: 770px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 0px;
  transform: translate(20px, 50px);
  margin-left:0px; */

  font-size: 20px; 
  }
#immigrationTitle{
  color: white; 
  font-size: 30px; 
}
#chart{ 
height:450px;
width:600px;
transform: translate(800px, -445px);
 }
#guns{
color: white; 
font-size: 30px; 
   
}
.gunControl{
  background-color: #ff3333;
  height: 450px;
  width:770px;
  color: white;
  transform: translate(600px, -350px);
  padding-right:10px;
  padding-left:10px;
  font-size: 
}
#kaname,#caname{
  color:white;
}

#control {
  height: 450px;
  width: 600px;
  transform: translate(-630px, -420px);
}
#bidenT{
  color: white; 
}
#booty{
  color: white; 
}
#gunpara{
  font-size: 20px; 
}
#guns{
  font-size: 30px; 
}

#budget {
  height: 400px;
  width: 500px;
  transform: translate(800px, -295px);
}
#education{
  background-color: #031D44; 
  color: white; 
  height: 400px;
  font-size: 20px; 
  margin-top: 70px;
  transform: translate(-10px, -350px);
}
#eductionTitle{
  color: white;
  font-size: 40px;
}