.mission{
display:inline-block;
  height:450px;
  width: 800px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 0px;
  transform: translate(20px, 50px);
  margin-left:0px;
/*   position:relative;
   */
#immi{
display:inline-bl